@charset "utf-8";
body {
	font-size: 12px Arial, Helvetica, sans-serif, 宋体 #0036a3;
	background-color: #fff;
	text-align: left;
	margin: 8px 0 0 0
}

ul p {
	margin: 0;
	padding: 0
}

li {
	list-style-type: none
}

.clear {
	clear: both
}

image {
	border: 0
}

.container {
	height: auto;
	font-size: 12px;
	position: absolute;
	width: 100%;
	top: 0
}

.header {
	width: 960px;
	margin: auto;
	height: 92px
}

.header .left {
	float: left;
	width: 303px;
	height: 100%;
	padding-left: 15px;
	background: url(/image/index/logo3.jpg?v=201602292012) 0 40% no-repeat
}

.header .left .logo {
	float: left;
	width: 150px;
	height: 38px;
	margin-top: 23px
}

.header .left .text {
	float: left;
	width: 188px;
	height: 16px;
	margin: 35px 0 0 13px
}

.header .header_link {
	float: right;
	height: 92px;
	line-height: 90px;
	font-size: 12px;
	color: #676767;
	margin-right: 40px
}

.header .header_link a {
	text-decoration: none;
	color: #0036a3;
	color: #676767
}

.header .header_link :hover {
	text-decoration: underline
}

.header .header_link .sep {
	width: 5px;
	height: 15px;
	background: url(../img/dian.jpg) no-repeat center
}

.header .header_link .logout {
	color: red
}

.dd {
	width: 250px;
	height: 30px;
	line-height: 30px
}

.middle {
	height: auto
}

.middle .content {
	width: 1058px;
	margin: auto
}

.middle .left {
	width: 550px;
	height: 534px;
	float: left;
	margin: 31px 100px 0 0;
	background: url(../img/regVersion2016.png) -344px 0 no-repeat;
	position: relative;
	_background: url(../img/regVersion2016.png) -347px 0 no-repeat;
	position: relative
}

.middle .left .regBtn {
	float: right;
	margin: 350px 51px 0 0;
	width: 103px;
	height: 68px;
	background: url(../img/regVersion2016.png) 0 -599px no-repeat;
	_background: 0;
	
}

.middle .left .regBtn-hover {
	cursor: pointer;
	background-position: -140px -599px;
	_background: 0;
	
}

.box {
	width: 152px;
	height: 166px;
	margin: 10px 20px;
	float: left
}

.wenzi {
	width: 280px;
	float: left;
	text-align: left
}

.wenzi .pg {
	font-size: 14px;
	color: #0036a3;
	font-weight: bold;
	margin: 40px 0 10px 0
}

.wenzi .bg {
	font-size: 12px;
	height: 23px;
	line-height: 23px
}

.wenzi .bg a {
	text-decoration: none;
	color: #0036a3
}

.wenzi .bg a:hover {
	text-decoration: underline
}

.wenzi .bg2 {
	color: #898989
}

.middle .right {
	font-family: "微软雅黑";
	width: 273px;
	height: auto;
	padding: 30px 32px;
	float: left;
	background: #fff;
	margin-top: 80px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .08);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, .08);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .08)
}

.middle .right .checkBox {
	vertical-align: middle;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 10;
	opacity: 0;
	cursor: pointer
}

.middle .right .checkItemLabel {
	float: left;
	width: 15px;
	height: 15px;
	cursor: pointer;
	position: absolute;
	z-index: 9;
	margin: 5px 0 0 -15px
}

.middle .right .checkBox+.checkItemLabel {
	background: url(../img/regVersion2016.png) -430px -662px no-repeat
}

.middle .right .checkBox:checked+.checkItemLabel {
	background: url(../img/regVersion2016.png) -430px -631px no-repeat
}

.middle #reg-link {
	color: #acacac;
	font-size: 16px;
	cursor: pointer
}

.middle #reg-link:hover {
	color: #6b6b6b
}

.righttop {
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	color: #2f82ff
}

#rowSacct {
	display: none
}

.option {
	font-size: 14px;
	color: #373737;
	height: 30px;
	line-height: 24px
}

.goin {
	float: left
}

.goin input {
	vertical-align: middle
}

.goin label {
	vertical-align: middle;
	margin-left: 9px
}

.goin1 {
	float: right;
	margin-top: 4px
}

.goin1 a {
	text-decoration: none;
	font-size: 12px;
	color: #2f82ff
}

.goin1 a:hover {
	text-decoration: underline
}

.worn {
	display: none;
	font-size: 12px;
	color: #343434;
	width: 239px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	padding-left: 28px;
	margin-bottom: 5px;
	border: 1px solid #ffe792;
	background: url(../img/regVersion2016.png) -670px -557px no-repeat #fffedf
}

.loginBtn {
	float: left;
	width: 271px;
	height: 44px;
	line-height: 44px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	background: url(../img/regVersion2016.png) 0 -315px no-repeat
}

.loginBtn-hover {
	background-position: 0 -376px
}

.login-toggle {
	float: left;
	width: 38%;
	text-decoration: none;
	color: #2f82ff;
	margin-top: 18px
}

.login-toggle:hover {
	text-decoration: underline
}

.login-toggle .icon {
	float: left;
	width: 18px;
	height: 16px;
	background: url(../img/regVersion2016.png) -261px -64px no-repeat;
	_background: url(../img/regVersion2016.png) -261px -64px no-repeat
}

.log-line {
	text-align: center;
	margin-bottom: 15px;
	position: relative;
	height: 44px;
	width: 269px;
	border: 1px solid #fff
}

.log-line .log-txt {
	color: #c2c2c2;
	position: absolute;
	top: 0;
	left: 50px;
	z-index: 1;
	text-align: left;
	line-height: 44px;
	font-size: 16px
}

.log-line .log-txt-hover {
	color: #ddd
}

.log-line .logIco {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 24px;
	height: 24px;
	background: url(../img/regVersion2016.png) -101px 0 no-repeat;
	
}

.log-line .logIcoCacct {
	background-position: -101px 0
}

.log-line .logIcoSacct {
	background-position: -101px -60px
}

.log-line .logIcoPwd {
	background-position: -101px -120px
}

.log-line-hover .logIcoCacct {
	background-position: -162px 0
}

.log-line-hover .logIcoSacct {
	background-position: -162px -60px
}

.log-line-hover .logIcoPwd {
	background-position: -162px -120px
}

.log-line .log-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 209px;
	height: 38px;
	line-height: 38px;
	background: transparent;
	font-size: 14px;
	padding: 2px 10px 2px 50px;
	outline: 0;
	z-index: 10
}

.log-line .input2 {
	border: 1px solid #d7d9e1;
	color: #888
}

.log-line-hover .log-input {
	border: 1px solid #2f82ff;
	color: #000
}

#log-valid-img {
	position: absolute;
	right: 20px;
	top: 7px;
	cursor: pointer;
	height: 30px
}

#log-refresh-btn {
	float: right;
	margin-top: 10px;
	height: 25px;
	width: 16px;
	cursor: pointer;
	background: url(../img/regVersion2016.png) no-repeat -675px -650px
}

.foot {
	float: right;
	margin: 30px 45px 0 0;
	line-height: 23px
}




.graw {
	font-size: 12px;
	text-decoration: none;
	text-align: right;
	padding-right: 40px;
	_width: 345px;
	_padding-right: 20px
}

.graw a {
	color: #898989;
	text-decoration: none
}

.tips2 {
	width: 449px;
	height: 281px;
	line-height: 41px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #d65c38;
	border-color: #ffd587/9;
	background-color: #fff;
	z-index: 9999;
	box-shadow: 0 5px 10px -5px #b3b3b3;
	-moz-box-shadow: 0 5px 10px -5px #b3b3b3;
	-webkit-box-shadow: 0 5px 10px -5px #b3b3b3;
	position: relative;
	top: 0;
	left: 0;
	float: left;
	font-size: 22px;
	line-height: 270px;
	text-align: center;
	margin-top: 80px
}

.tips2 .msg2 {
	width: 325px;
	height: 100px;
	line-height: 25px;
	text-align: left;
	font-size: 16px;
	color: #585858;
	position: relative;
	margin: 70px auto
}

.setPwdButton {
	display: block;
	width: 133px;
	height: 40px;
	line-height: 40px;
	color: #fff!important;
	background: #f40;
	font-size: 17px;
	text-align: center;
	float: left;
	margin-top: 45px;
	margin-left: 85px;
	text-decoration: none
}

.popupBg {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	_position: absolute;
	_height: expression(document.documentElement.clientHeight);
	background-color: #000;
	filter: alpha(opacity=70);
	z-index: 9032;
	overflow: hidden;
	opacity: .7
}

.textSpan {
	line-height: 45px;
	margin-left: 20px;
	font-size: 28px;
	color: #5e5e5e
}

.tipsText {
	font-size: 14px;
	line-height: 28px;
	color: #999;
	margin-left: 45px;
	margin-top: 15px
}

.tips2 .tipsClose {
	margin: 0 10px 0 7px;
	width: 23px;
	height: 22px;
	cursor: pointer;
	background: url(/image/newshop/close.png?v=201508112108) -2px -3px no-repeat;
	display: inline;
	position: absolute;
	top: -65px;
	right: -67px
}

margin-right: 5px
}


