@charset "utf-8";
body {
	font-family: "微软雅黑"
}

*:focus {
	outline: 0
}

#cacct:focus,
#validateCode:focus,
#pwd:focus,
#pwd2:focus,
#verificationCodeSend:focus {
	border-color: #2f82ff
}

.clear {
	clear: both
}

.webPassword {
	width: 950px;
	height: auto;
	padding-top: 60px;
	margin: auto
}

.head {
	width: 100%;
	height: 50px;
	font-family: "微软雅黑"
}

.head .logo {
	float: left
}

.head .logo a {
	display: inline-block;
	width: 150px;
	height: 65px;
	background: url(/image/index/logo3.jpg?v=201603091425) 0 0 no-repeat
}

.head .headTitle {
	float: left;
	width: auto;
	height: 30px;
	line-height: 30px;
	color: #898989;
	font-size: 16px;
	margin-top: 16px
}

.head .headLink {
	float: right;
	width: 480px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	font-size: 12px;
	background-color: #eaf3ff;
	padding-right: 20px;
	margin-top: 16px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px
}

.head .headLink a {
	text-decoration: none;
	color: #0036a3
}

.head .headLink .sep {
	display: inline-block;
	width: 5px;
	height: 100%;
	background: url(../img/dian.jpg) no-repeat center
}

.content {
	width: 950px;
	height: auto;
	margin: auto;
	padding-top: 60px;
	font-size: 12px
}

.paper {
	height: 425px;
	font: 16px "微软雅黑"
}

.contentLine {
	width: 100%;
	height: 60px;
	line-height: 60px
}

.prompt {
	color: red;
	height: 23px;
	margin-top: 60px;
	margin-bottom: 40px
}

.totalError {
	display: none;
	color: red;
	height: 46px;
	padding-top: 60px
}

.paper p {
	margin: 0
}

.paper .p1 {
	width: 550px;
	line-height: 23px;
	margin: 0 auto;
	color: #ff5f00
}

.paper .p2 {
	margin-left: 55px;
	line-height: 23px
}

.paper .p3 {
	font-size: 14px;
	margin-left: 55px;
	line-height: 46px
}

.contentLine span {
	display: inline-block;
	margin-left: 60px;
	color: #595959
}

.loginInput {
	width: 170px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #ddd
}

.submit {
	display: inline-block;
	width: 89px;
	height: 28px;
	background: url(/image/sys/pwdNext.jpg) no-repeat;
	margin-left: 250px
}

.content .paper .line {
	height: 44px;
	margin: 30px 0 30px 73px
}

.content .paper .line .lineName {
	width: 200px;
	line-height: 37px;
	text-align: right;
	float: left;
	font-size: 16px;
	color: #373737
}

.content .paper .line .lineName span {
	color: #373737
}

.content .paper .line .lineContent {
	width: 313px;
	_width: 313px;
	height: 44px;
	float: left;
	position: relative
}

.content .paper .line .lineContent .cacctName {
	width: 311px;
	height: 40px;
	line-height: 44px;
	border: 1px solid #ddd;
	font-size: 14px;
	text-indent: 10px
}

.correctAcct {
	position: absolute;
	top: 0;
	right: 8px;
	width: 16px;
	height: 44px;
	background: url(../img/regVersion2016.png) -350px -547px no-repeat;
	display: none
}

.content .paper .line .lineContent .validateCode {
	width: 170px;
	border: 1px solid #ddd;
	float: left;
	height: 40px;
	text-indent: 5px;
	line-height: 40px;
	color: #4f4f4f
}

.item_code {
	display: inline-block;
	width: 124px;
	height: 27px;
	border: 1px solid #b1b1b1;
	border-radius: 3px;
	padding: 0;
	background: #f0f0f0;
	font-size: 14px;
	text-align: center;
	line-height: 29px;
	*line-height: 24px;
	color: #373737;
	margin: 9px 1px 0 17px;
	vertical-align: middle;
	cursor: pointer;
	float: left
}

@-moz-document url-prefix() {
	.item_code {
		line-height: 24px
	}
}

.content .paper .line .lineContent .validateCode_img {
	width: 120px;
	height: 35px;
	float: left;
	margin-left: 10px;
	margin-top: 4px
}

.validateCoderefreshBtn {
	float: right;
	height: 25px;
	width: 16px;
	cursor: pointer;
	background: url(../img/regVersion2016.png) no-repeat -675px -644px
}

.item4 {
	height: 44px;
	display: none;
	background: url(../img/regVersion2016.png) -657px -547px no-repeat;
	width: auto;
	text-indent: 50px
}

.line .lineTip .sucMsg {
	float: left;
	color: #292929;
	font-size: 14px;
	padding-left: 0;
	background: 0;
	line-height: 46px;
	vertical-align: middle;
	text-indent: 0
}

.line .lineTip .sucIcon {
	float: left;
	width: 50px;
	height: 46px;
	background: url(../img/regVersion2016.png) -330px -547px no-repeat
}

.line .lineTip .sucMsg .showTime {
	color: #f00;
	text-decoration: underline
}

.content .paper .line .lineTip {
	float: left;
	font: 14px "微软雅黑";
	color: red;
	line-height: 44px
}

.content .paper .line .lineTip .icon {
	height: 44px;
	float: left
}

.content .paper .validateMailTip {
	width: 600px;
	height: 130px;
	margin: 80px auto
}

.content .paper .validateMailTip .tipIcon {
	width: 65px;
	height: 50px;
	background: url(/image/forgotPsw/forgotPsw_tip_suc.png?v=201412101727) center no-repeat;
	float: left
}

.content .paper .validateMailTip .tipContent {
	font: 13px "微软雅黑";
	color: #9f9fa7;
	float: left;
	margin-left: 20px
}

.content .paper .validateMailTip .tipContent p {
	margin-bottom: 15px
}

.content .paper .validateMailTip .tipContent .mailResult {
	font-size: 16px;
	color: #ff5f00
}

.content .paper .validateMailTip .tipContent .resendMailBtn {
	width: 115px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #99c0e9;
	color: #68a2e1;
	text-decoration: blink;
	text-align: center;
	margin: 0 5px;
	display: inline-block;
	_display: inline;
	_zoom: 1
}

.correctPwd,
.correctPwd2 {
	position: absolute;
	top: 0;
	right: 8px;
	width: 16px;
	height: 44px;
	background: url(../img/regVersion2016.png) -350px -547px no-repeat;
	display: none
}

.pwdPanel .tipText {
	text-align: right;
	margin-top: 55px;
	color: #2f82ff;
	width: 419px
}

.pwdPanel .pwdContent {
	width: 830px;
	_width: 750px;
	height: 145px;
	margin-left: 168px;
	position: relative
}

.pwdPanel .pwdContent .pwdContentPanel {
	float: left
}

.pwdPanel .pwdContent .pwdContentPanel .pwdItem {
	width: 420px;
	_width: 500px;
	height: 44px;
	line-height: 44px;
	margin-top: 10px
}

.pwdPanel .pwdContent .pwdContentPanel .pwdItemShowTip {
	width: 600px;
	_width: 650px;
	position: relative
}

.pwdPanel .pwdContent .pwdContentPanel .pwdItem .pwdItemName {
	width: 100px;
	line-height: 37px;
	text-align: right;
	float: left;
	font-size: 16px;
	color: #373737
}

.pwdPanel .pwdContent .pwdContentPanel .pwdItem .pwdItemName span {
	font: 16px "微软雅黑";
	color: #373737
}

.pwdPanel .pwdContent .pwdContentPanel .pwdItem .pwdItemContent {
	height: 44px;
	float: left;
	margin-left: 5px;
	width: 310px;
	position: relative
}

.pwdPanel .pwdContent .pwdContentPanel .pwdItem .pwdItemContent input {
	line-height: 40px
}

.pwdPanel .pwdContent .pwdContentPanel .pwdItem .pwdItemContent input {
	width: 308px;
	height: 40px;
	line-height: 44px;
	border: 1px solid #ddd;
	font-size: 14px;
	text-indent: 10px
}

.pwdPanel .pwdContent .pwdContentPanel .pwdItem .pwdItemTip {
	display: none;
	width: 400px;
	height: 44px;
	line-height: 44px;
	float: left;
	position: absolute;
	top: 0;
	left: 410px
}

.pwdPanel .pwdContent .pwdContentPanel .pwdItem .pwdItemTip .pwdItemTipIcon {
	width: 14px;
	float: left;
	height: 44px;
	float: left;
	background: url(../img/regVersion2016.png) -666px -547px no-repeat;
	width: 40px
}

.pwdPanel .pwdContent .pwdContentPanel .pwdItem .pwdItemTip .pwdItemTipErr {
	font: 14px "微软雅黑";
	color: red;
	line-height: 44px
}

.pwdPanel .pwdContent .pwdContentPanel .pwdStrength {
	height: 18px;
	width: 424px;
	margin: 5px 0 0 -7px
}

.pwdPanel .pwdContent .pwdContentPanel .pwdStrength .pwdStrengthItem {
	width: 102px;
	height: 16px;
	background-color: #e2e2e2;
	float: left;
	margin-left: 2px;
	text-align: center;
	font: 12px "微软雅黑";
	color: #fff
}

.pwdPanel .pwdContent .pwdContentPanel .pwdStrength .choice {
	background-color: #7ab8f5
}

.pwdPanel .pwdContent .pwdTip {
	width: 455px;
	height: 80px;
	position: absolute;
	top: 7px;
	right: -46px
}

.pwdPanel .pwdContent .pwdTip .pwdTipIcon {
	width: 25px;
	height: 55px;
	float: left;
	background: url(../img/regVersion2016.png) -675px -598px no-repeat
}

.pwdPanel .pwdContent .pwdTip .pwdTipText {
	font: 14px "微软雅黑";
	color: #adadad;
	width: 400px;
	height: 50px;
	float: left;
	line-height: 25px
}

.pwdPanel .pwdContent .pwdTip .pwdFloatTip {
	color: #4e9be9;
	cursor: pointer
}

.errorPanel {
	display: none;
	width: 600px;
	_width: 650px;
	height: 150px;
	margin: 10px auto
}

.errorPanel .errorIcon {
	width: 103px;
	height: 150px;
	margin: 0 50px;
	float: left;
	background: url(/image/forgotPsw/forgotPsw_tip_err1.png?v=201412131116) center no-repeat
}

.errorPanel .errorContent {
	width: 380px;
	height: 150px;
	float: left
}

.errorPanel .errorContent .errorMsg {
	height: 25px;
	line-height: 25px;
	margin: 50px 0 15px 0;
	font: 16px "微软雅黑";
	color: #01a25e
}

.errorPanel .errorContent .errorTool {
	line-height: 27px;
	font: 13px "微软雅黑";
	color: #636363
}

.errorPanel .errorContent .errorTool a {
	width: 95px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #94bde8;
	color: #69a3e1;
	text-decoration: blink;
	text-align: center;
	margin: 0 5px;
	display: inline-block;
	_display: inline;
	_zoom: 1
}

.resultPanel {
	width: 600px;
	height: 350px;
	margin: 50px auto
}

.resultPanel .resultContent {
	width: 600px;
	height: 150px;
	margin-bottom: 55px
}

.resultPanel .resultContent .resultIcon {
	width: 103px;
	height: 150px;
	margin: 0 50px;
	float: left;
	background: url(/image/forgotPsw/forgotPsw_tip_suc1.png?v=201412131204) center no-repeat
}

.resultPanel .resultContent .resultContentText {
	width: 300px;
	height: 150px;
	float: left
}

.resultPanel .resultContent .resultContentText .resultTipText {
	line-height: 21px;
	font: 16px "微软雅黑";
	color: #ff6200;
	margin: 45px 0 15px 0
}

.resultPanel .resultContent .resultContentText .resultText {
	font: 13px "微软雅黑";
	color: #636363
}

.resultPanel .resultContent .resultContentText .resultText p {
	margin-bottom: 5px
}

.foot {
	height: auto;
	font-family: "微软雅黑"
}

.foot ul {
	width: 100%;
	height: 30px;
	line-height: 30px;
	list-style: none;
	margin: 0;
	padding: 0
}

.foot ul li {
	float: left;
	padding: 0 4px
}

.foot ul li a {
	text-decoration: none;
	color: #0036a3
}

.foot ul li.footSplit {
	text-align: center;
	color: #0036a3
}

.foot .copyright {
	width: 600px;
	height: 20px;
	line-height: 20px;
	color: #9e9e9e;
	font-size: 12px;
	margin: 0 0 10px 272px
}

.content .shadow {
	width: 602px;
	height: 14px;
	background: url(/image/sys/pwdShadow.jpg) no-repeat;
	margin-bottom: 50px
}

.progressBar {
	width: 720px;
	height: 50px;
	margin: 0 auto
}

.progressBar .progressOne {
	width: 720px;
	height: 50px;
	background: url(../img/regVersion2016.png) 0 -689px no-repeat
}

.progressBar .progressTwo {
	width: 720px;
	height: 50px;
	background: url(../img/regVersion2016.png) 0 -764px no-repeat
}

.progressBar .progressThree {
	width: 720px;
	height: 50px;
	background: url(../img/regVersion2016.png) 0 -837px no-repeat
}

.progressItem {
	display: inline-block;
	width: 235px;
	font-size: 14px;
	line-height: 20px;
	color: #adadad;
	height: 20px;
	text-align: center
}

.progressItemCur {
	color: #2f82ff
}

.progressBar .progressDone {
	background-position: 0 0
}

.btnLine {
	width: 311px;
	height: 46px;
	margin: 12px auto;
	clear: both
}

.btnLine a {
	text-decoration: none
}

.btnLine .nextBtn {
	display: block;
	width: 313px;
	height: 46px;
	background: url(../img/regVersion2016.png) 0 -449px no-repeat;
	margin: 50px auto;
	font-size: 18px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 46px
}

.btnLine .nextBtn:hover {
	background: url(../img/regVersion2016.png) 0 -510px no-repeat
}

.btnLine .nextBtn_pwd {
	display: block;
	width: 313px;
	height: 46px;
	background: url(../img/regVersion2016.png) 0 -449px no-repeat;
	margin: 50px auto;
	font-size: 18px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 46px
}

.btnLine .nextBtn_pwd:hover {
	background: url(../img/regVersion2016.png) 0 -510px no-repeat
}

.floatSafeTip {
	width: 390px;
	height: 204px;
	position: absolute
}

.floatSafeTip .floatSafeTipArrow {
	width: 10px;
	height: 6px;
	background: url(/image/forgotPsw/forgotPsw_arrow.png?v=201412151522) center no-repeat;
	z-index: 50;
	position: absolute;
	left: 75px;
	top: -5px
}

.floatSafeTip .floatSafeTipContent {
	padding: 10px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #85b9eb;
	background-color: #f5faff;
	border: 1px solid #d3e4f4
}

.floatSafeTip .floatSafeTipContent p {
	padding: 0;
	margin: 0;
	line-height: 18px
}

.floatSafeTip .floatSafeTipContent .indent {
	text-indent: 25px
}

#pwdSucceContainer {
	width: 300px;
	height: 260px;
	margin: 0 auto;
	color: #373737;
	font-size: 16px;
	text-align: left;
	padding-top: 60px
}

.pwdSucce {
	width: 370px;
	text-align: center;
	margin: 10px auto 80px auto
}

.msgSuc {
	width: 420px;
	margin: 10px 0 32px 63px
}

.p_br {
	height: 6px;
	width: 100%
}

#pwdSucceContainer .reset {
	display: inline-block;
	color: #5b9e05;
	text-align: left;
	width: 300px;
	height: 50px;
	line-height: 50px;
	font-size: 26px
}

.successIcon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url(../img/regVersion2016.png) -250px 13px no-repeat;
	vertical-align: top
}

.pwd_login {
	display: block;
	margin: 20px auto;
	width: 314px;
	height: 47px;
	background: url(../img/regVersion2016.png) 0 -449px no-repeat;
	margin: 50px auto;
	font-size: 18px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	line-height: 47px
}

.pwd_login:hover {
	background: url(../img/regVersion2016.png) 0 -510px no-repeat
}

.verificationCodeSend {
	width: 170px;
	border: 1px solid #ddd;
	float: left;
	height: 40px;
	text-indent: 5px;
	line-height: 40px;
	color: #4f4f4f
}

.acctLine {
	position: relative
}

#acctTip {
	position: absolute;
	top: 0;
	left: 514px
}

.consultQQ {
	display: inline-block;
	width: 15px;
	height: 16px;
	vertical-align: middle;
	margin: -5px 0 0 3px;
	background: url(/image/qq2.png?v=201610101822) no-repeat
}

#getCodeCount {
	text-decoration: underline
}

.showMsg {
	position: absolute;
	width: 400px;
	height: 30px;
	top: -50px;
	left: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #f00
}

.placeholder_txt {
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 1;
	text-align: left;
	line-height: 44px;
	font-size: 14px;
	color: #ddd;
	display: none
}

#cacct {
	z-index: 4;
	background: transparent;
	float: left
}