<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__PUBLIC__/sprout/admin/css/first.css">
    <script src="__PUBLIC__/sprout/admin/jquery.js"></script>
    <!-- <script src="js/index.js"></script> -->
    <script src="__PUBLIC__/sprout/admin/js/first.js"></script>
</head>
<body>
    <form action="" method="post" enctype ="multipart/form-data">
    <div class="kx_box">
        <!-- 导航栏 -->
        <div class="kx_nav"></div>
        
        <div class="kx_middle">
            <!-- 内容 -->
            <div class="kx_index">
                <!-- 内容左 -->
                <div class="kx_left">
                    
                </div>
                <!-- 内容右 -->
                <div class="kx_right">
                    
                    <div class="kx_right_index">
                        <div class="kx_create_active">
                            <p class="kx_create_active_index">
                                <span>< <a href="###">返回活动</a> / 参与活动赢大奖</span>
                            </p>
                        </div>
                        <div class="kx_middle_all">
                            <ul class="kx_label1">
                                <li id="label1" class="kx_under_line"><a href="###">首页</a></li>
                                <li id="label2"><a href="###">报名页面</a></li>
                                <li id="label3"><a href="###">参赛详情</a></li>
                                <li id="label4"><a href="###">排行榜</a></li>
                                <li id="label5"><a href="###">活动说明</a></li>
                            </ul>
                            <div class="kx_editDetailBox"> 
                                <div class="kx_phone">
                                    <div class="kx_phone_title">
                                        <div class="kx_join">参与活动赢大奖</div>
                                    </div>
                                    <!-- 首页 -->
                                    <div class="kx_phone_people" id="kx_first" >
                                        <div class="kx_scroll">
                                            <div class="kx_baby">
                                                <p class="kx_music"></p>
                                            </div>
                                            <div class="kx_time">
                                                <p class="time_time e">
                                                    投票倒计时：
                                                    <span class="day"></span>
                                                    天
                                                    <span class="hour"></span>
                                                    小时
                                                    <span class="minute"></span>
                                                    分钟
                                                </p>
                                            </div>
                                            <div class="kx_number">
                                                <p>
                                                    <span>报名人数</span>
                                                    <span>0</span>
                                                </p>
                                                <div class="kx_line_y"></div>
                                                <p>
                                                    <span>累积投票</span>
                                                    <span>0</span>
                                                </p>
                                            </div>
                                            <input type="text" class="kx_search" placeholder="请输入编号或名称">
                                            <div class="kx_player">
                                                <div class="kx_player_title">
                                                    <div>
                                                        <p class="kx_orange">
                                                            <span class="kx_new"></span>
                                                            最新参赛
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p>
                                                            <span class="kx_hot"></span>
                                                            人气排行
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="kx_player_list">
                                                    <div>
                                                        <div class="kx_playernumber">4号</div>
                                                        <div class="kx_picture"><img src="__PUBLIC__/sprout/admin/image/11.jpg"></div>
                                                        <div class="kx_how">
                                                            <p class="id">Turbo</p>
                                                            <p class="num"><span>1000</span>票</p>
                                                            <p class="button"></p>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="kx_playernumber">3号</div>
                                                        <div class="kx_picture"><img src="__PUBLIC__/sprout/admin/image/11.jpg"></div>
                                                        <div class="kx_how">
                                                            <p class="id">Vanessa</p>
                                                            <p class="num"><span>100</span>票</p>
                                                            <p class="button"></p>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="kx_playernumber">2号</div>
                                                        <div class="kx_picture"><img src="__PUBLIC__/sprout/admin/image/11.jpg"></div>
                                                        <div class="kx_how">
                                                            <p class="id">Turbo</p>
                                                            <p class="num"><span>10</span>票</p>
                                                            <p class="button"></p>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="kx_playernumber">1号</div>
                                                        <div class="kx_picture"><img src="__PUBLIC__/sprout/admin/image/11.jpg"></div>
                                                        <div class="kx_how">
                                                            <p class="id">Vanessa</p>
                                                            <p class="num"><span>1</span>票</p>
                                                            <p class="button"></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="kx_fromfk">页面技术由 凡科互动 提供</div>

                                        </div>
                                        <p class="kx_name"></p>
                                    </div>

                                    <!-- 排行榜 -->
                                    <div class="kx_signup" id="kx_top">
                                        <div class="s_scroll">
                                            <p class="kx_music"></p>
                                            <div class="kx_time">
                                                <p class="time_time e">
                                                    投票倒计时：
                                                    <span class="day"></span>
                                                    天
                                                    <span class="hour"></span>
                                                    小时
                                                    <span class="minute"></span>
                                                    分钟
                                                </p>
                                            </div>
                                            <div class="kx_top_box">
                                                <div class="top_title"></div>
                                                <div class="top_label">
                                                    <p style="width:73px">排名</p>
                                                    <p style="width:146px;">
                                                        <span class="two_box">参赛选手</span>
                                                    </p>
                                                    <p style="width:77px">票数</p>
                                                </div>
                                                <div class="everyone">
                                                    <div class="l">
                                                        <p class="top_one white">1</p>
                                                    </div>
                                                    <div class="m">
                                                        <img class="baby_logo" src="__PUBLIC__/sprout/admin/image/24.jpg" alt="">
                                                        <p class="babys_name">magazine</p>
                                                    </div>
                                                    <div class="r">999票</div>
                                                </div>
                                                <div class="everyone">
                                                    <div class="l">
                                                        <p class="top_two white">2</p>
                                                    </div>
                                                    <div class="m">
                                                        <img class="baby_logo" src="__PUBLIC__/sprout/admin/image/24.jpg" alt="">
                                                        <p class="babys_name">hubert</p>
                                                    </div>
                                                    <div class="r">999票</div>
                                                </div>
                                                <div class="everyone">
                                                    <div class="l">
                                                        <p class="top_three white">3</p>
                                                    </div>
                                                    <div class="m">
                                                        <img class="baby_logo" src="__PUBLIC__/sprout/admin/image/24.jpg" alt="">
                                                        <p class="babys_name">lvox</p>
                                                    </div>
                                                    <div class="r">999票</div>
                                                </div>
                                                <div class="everyone">
                                                    <div class="l">
                                                        <p class="black">4</p>
                                                    </div>
                                                    <div class="m">
                                                        <img class="baby_logo" src="__PUBLIC__/sprout/admin/image/24.jpg" alt="">
                                                        <p class="babys_name">hth</p>
                                                    </div>
                                                    <div class="r">999票</div>
                                                </div>
                                                <div class="everyone">
                                                    <div class="l">
                                                        <p class="black">5</p>
                                                    </div>
                                                    <div class="m">
                                                        <img class="baby_logo" src="__PUBLIC__/sprout/admin/image/24.jpg" alt="">
                                                        <p class="babys_name">monica</p>
                                                    </div>
                                                    <div class="r">999票</div>
                                                </div>
                                                <div class="everyone">
                                                    <div class="l">
                                                        <p class="black">6</p>
                                                    </div>
                                                    <div class="m">
                                                        <img class="baby_logo" src="__PUBLIC__/sprout/admin/image/24.jpg" alt="">
                                                        <p class="babys_name">lzz</p>
                                                    </div>
                                                    <div class="r">999票</div>
                                                </div>
                                            </div>
                                            <div class="kx_fromfk">页面技术由 凡科互动 提供</div>
                                        </div>
                                    </div>

                                    <!-- 活动说明 -->
                                    <div class="kx_signup" id="kx_intruduce">
                                        <div class="s_scroll bcolor">
                                            <div class="kind">活动简介</div>
                                            <div class="inner">
                                                一等奖 1名：马尔代夫豪华亲子三人游
                                                <br>
                                                二等奖 5名：佳能80D单反相机
                                                <br>
                                                三等奖 10名：3000元xian金
                                                <br>
                                                <br>
                                                投票结束后，按照实际排名派奖。主办方会主动联系获奖者，请认真填写联系信息以便于派奖。
                                            </div>
                                            <div class="kind">报名时间</div>
                                            <div class="inner">2018年7月6日 08:41</div>
                                            <div class="kind">报名须知</div>
                                            <div class="inner">投票者每日最多可为5名选手各投一票</div>
                                            <div class="kind">主办单位</div>
                                            <div class="inner">本次活动主办单位为 <span> XXX</span></div>
                                            <div class="kind">技术支持</div>
                                            <div class="inner">页面的技术由 <span>凡科互动</span> 提供，技术支持方仅提供页面技术，不承担由活动引起的相关法律责任</div>
                                        </div>
                                    </div>

                                    <!-- 报名页面 -->
                                    <div class="enroll" id="kx_enroll">
                                        <div class="b_scroll">
                                            <div class="close_box"><div class="close"></div></div>
                                            <div class="enroll_table">
                                                <div class="subject">填写参赛信息</div>
                                                <input class="sub_inner" type="text" placeholder="请输入参赛名称">
                                                <textarea placeholder="请输入个人介绍、拉票宣言等" name="" class="intrudece" cols="30" rows="10" ></textarea>
                                                <div class="photo_box"><img src="__PUBLIC__/sprout/admin/image/26.png"></div>
                                                <p class="most">最多可上传4张</p>
                                                <div class="subject">填写联系信息</div>
                                                <input type="text" class="sub_inner" placeholder="请输入姓名">
                                                <input type="text" class="sub_inner distance" placeholder="请输入联系电话">
                                                <div class="from">
                                                    省、市、自治区
                                                    <input type="text" class="add" placeholder="请选择地区">
                                                </div>
                                                <textarea  class="address" placeholder="请输入详细地址" cols="30" rows="10"></textarea>

                                            </div>
                                            <div class="enter"></div>
                                            <div class="kx_fromfk">页面技术由 凡科互动 提供</div>                                            
                                        </div>
                                    </div>

                                    <!-- 参赛详情 -->
                                    <div class="detail" id="kx_detail">
                                        <div class="c_scroll">
                                            <div class="close_box"><div class="close"></div></div>
                                            <div class="kx_time2">
                                                <p class="time_time e">
                                                    投票倒计时：
                                                    <span class="day"></span>
                                                    天
                                                    <span class="hour"></span>
                                                    小时
                                                    <span class="minute"></span>
                                                    分钟
                                                </p>
                                            </div>
                                            <div class="c_inner">
                                                <div class="how">
                                                    <img class="headimg" src="__PUBLIC__/sprout/admin/image/28.jpg" alt="">
                                                    <div class="how_title">1号</div>
                                                    <div class="how_name">
                                                        <div>Turbo</div>
                                                        <p><span>1000</span>票</p>
                                                    </div>

                                                </div>
                                                <div class="lapiao">大家好，我是Turbo，请大家给我投上宝贵的一票吧！(づ￣ 3￣)づ</div>
                                                <img class="big_img" src="__PUBLIC__/sprout/admin/image/29.jpg">
                                                <img class="big_img" src="__PUBLIC__/sprout/admin/image/29.jpg">
                                                <img class="big_img" src="__PUBLIC__/sprout/admin/image/29.jpg">
                                                <img class="big_img" src="__PUBLIC__/sprout/admin/image/29.jpg">
                                            </div>
                                            <div class="kx_fromfk">页面技术由 凡科互动 提供</div>                                            
                                            

                                        </div>
                                    </div>

                                    <div class="pall" id="kx_pall">
                                        <p class="pall_1">马上拉票</p>
                                        <p class="pall_2">投票</p>
                                    </div>

                                    <div class="kx_nav_bottom" id="kx_nav_bottom">
                                        <div id="sy">
                                            <span class="kx_l1"></span>
                                            <p class="kx_blue">首页</p>
                                        </div>
                                        <div id="ph">
                                            <span class="kx_l2"></span>
                                            <p>排行榜</p>
                                        </div>
                                        <div id="sm">
                                            <span class="kx_l3"></span>
                                            <p>活动说明</p>
                                        </div>
                                        <div id="gz">
                                            <span class="kx_l4"></span>
                                            <p>关注我们</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="kx_form">
                                        <div class="set-right">
                                            <ul>
                                                <li id="Wu-ji">基础设置</li>
                                                <li id="Wu-bao">报名设置</li>
                                                <li id="Wu-tou">投票设置</li>
                                                <li id="Wu-gao">高级设置</li>
                                            </ul>
                                            <div class="Wu-set1">
                                                <div class="set-ben">
                                                <p class="options">基本选项</p>
                                                <div id="actNameSetting">
                                                        <span class="leftTitle"><span class="flag">*</span>
                                                        <span class="baseSettingTitle">活动标题：</span></span>
                                                    <input id="name" class=" input input1" type="text" name="title" ng-model="game.name" ed-check-sensit-word="">
                                                </div>
                                                 <div class="virtual">
                                                     <div class="baseLine baseLine1">
                                                         <span class="leftTitle">
                                                             <span class="flag"></span>
                                                             <span class="baseSettingTitle">虚拟报名人数：</span>
                                                         </span>
                                                         <input type="text" name="participants" id="virtualJoinNum" ng-model="game._setting.vjn" model-format="int" maxlength="6" class="input inputNum onlyNum input3 ng-pristine ng-untouched ng-valid ng-valid-maxlength"> 人
                                                     </div>
                                                     <div class="baseLine baseLine1">
                                                         <span class="leftTitle">
                                                             <span class="flag"></span>
                                                             <span class="baseSettingTitle">虚拟累计票数：</span>
                                                         </span>
                                                         <input name="participants_score" type="text" id="virtualVoteNum" ng-model="game._setting.vvn" model-format="int" maxlength="6" class="input inputNum onlyNum input3 ng-pristine ng-untouched ng-valid ng-valid-maxlength"> 票
                                                     </div>
                                                 </div>
                                            </div>
                                                <div class="set-senior set-ben">
                                                 <p class="options option">高级选项</p>
                                                 <div class="fold-button">
                                                     <span class="open">更多设置</span>
                                                     <span class="close" style="display:none;">点击收起</span>
                                                 </div>
                                                 <div class="fold-box">
                                                     <div class="fold-block">
                                                         <div class="fold-paize1">
                                                             <p>排序规则:</p>
                                                             <input type="checkbox" value="1" checked name="sort_rule[]"/>
                                                             <p>最新参赛</p>
                                                             <input type="checkbox" value="2" checked name="sort_rule[]"/>
                                                             <p>人气排行</p>
                                                             <input type="checkbox" value="3" name="sort_rule[]"/>
                                                             <p>参赛顺序</p>
                                                         </div>
                                                         <div class="fold-pazie1 fold-pazi">
                                                             <p>底部自定义按钮:</p>
                                                             <input type="radio" value="1"  checked="checked" name="button_show" id="yincag"/>
                                                             <p>隐藏</p>
                                                             <input type="radio" value="2"  name="button_show" id="yincag1"/>
                                                             <p>跳转页面</p>
                                                             <input type="radio" value="3" name="button_show" id="yincag2"/>
                                                             <p>一键关注</p>
                                                         </div>
                                                         <div class="yin-box" id="qiygw">
                                                             <div class="qiygw">
                                                                 <p><span>*</span>按钮名称:</p>
                                                                 <input name="button_name" type="text" value="企业官网"/>
                                                             </div>
                                                             <div class="qiygw qiygw1 qiygw2">
                                                                 <p>按钮链接:</p>
                                                                 <input type="text" name="button_url1" value=""/>
                                                             </div>
                                                             <div class="qiygw qiygw1 qiygw3" style="display: none">
                                                                 <p>微信公众号:</p>
                                                                 <div class="con4">
                                                                     <canvas id="cvs" width="50" height="50"></canvas>
                                                                     <span class="btn upload">+上传二维码<input name="button_url" type="file" class="upload_pic" id="upload"></span>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                         <div class="fold-paize1 jianhuo">
                                                             <p>活动简介:</p>
                                                             <div class="jianj">
                                                                 <textarea name="description" style="height: 120px;width: 337px;resize: none; font-size: 12px; line-height: 10px; color: #585858">
                                                                     一等奖 1名：马尔代夫豪华亲子三人游
                                                                     二等奖 5名：佳能80D单反相机
                                                                     三等奖 10名：3000元xian金
                                                                     投票结束后，按照实际排名派奖。主办方会主动联系获奖者，
                                                                     请认真填写联系信息以便于派奖。
                                                                 </textarea>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                            </div>
                                            <ul class="Wu-set2">
                                               <li class="Wu-twoTop">
                                                     <p class="Wu-tTP">手机端报名：</p>
                                                     <div class="Wu-tTR1">
                                                         <input type="radio" class="Wu-in1" checked="checked" name="phone_sign"/>
                                                         开启
                                                     </div>
                                                     <div class="Wu-tTR2">
                                                         <input type="radio" class="Wu-in2" name="phone_sign"/>
                                                         关闭
                                                     </div>
                                               </li>
                                               <li class="Wu-twoBot">
                                                   <div class="Wu-B1">
                                                       <p class="Wu-tTP"><span style="color: red">*</span>报名时间：</p>
                                                       <input class="Wu-tTPin" type="text" name="start_at" disabled="disabled" value="2018-06-28 15:33"/>
                                                       <p style="float: left">至</p>
                                                       <input class="Wu-tTPin" type="text" name="end_at" disabled="disabled" value="2018-06-28 15:33"/>
                                                   </div>
                                                   <div class="Wu-B2">
                                                       <p class="Wu-tTP">报名须知：</p>
                                                       <textarea name="sign_description" class="Wu-text">寻找花城最萌宝宝
     大胆的晒出你的萌娃，赢取马尔代夫豪华游，带上你的宝宝来一个温馨的度假游吧！
     梦想还是要有的，万一实现了呢？                     </textarea>
                                                   </div>
                                                   <div class="Wu-B3">
                                                       <p class="Wu-tTP">联系信息：</p>
                                                       <div class="Wu-B3iB">
                                                           <input style="width: 15px;height: 15px" name="link_info[]" type="checkbox" checked="checked" value="1" />
                                                           姓名
                                                           <input style="width: 15px;height: 15px" type="checkbox" name="link_info[]" checked="checked" value="2" />
                                                           联系电话
                                                           <input style="width: 15px;height: 15px" type="checkbox" name="link_info[]" checked="checked" value="3" />
                                                           联系地址
                                                       </div>
                                                   </div>
                                                   <div id="Wu-B4">
                                                              <div class="Wu-one">
                                                                  <span class="i"></span>
                                                                  <p class="Wu-tTP">报名人数限制：</p>
                                                              </div>
                                                               <div class="Wu-two">
                                                                   <input type="radio" class="Wu-in1"  name="sign_is_limit"/>
                                                                   不限
                                                                   <input type="radio" class="Wu-in1" checked="checked" name="sign_is_limit"/>
                                                                   限制
                                                               </div>
                                                               <input type="text" id="Wu-three" name="sign_num" value="100"/>
                                                               <p class="Wu-four">人报名</p>
                                                       <p class="Wu-di">除报名人数限制外，免费版最多支持100人投票</p>
                                                   </div>
                                                   <div class="Wu-B5">
                                                       <p class="Wu-tTP">是否需要审核：</p>
                                                       <div class="Wu-two">
                                                           <input type="radio" class="Wu-in1" checked="checked" name="is_check"/>
                                                           需要
                                                           <input type="radio" class="Wu-in1" name="is_check"/>
                                                           不需要
                                                       </div>
                                                   </div>
                                                   <div id="Wu-B4">
                                                       <div class="Wu-one">
                                                           <span class="i"></span>
                                                           <p class="Wu-tTP">关注后报名：</p>
                                                       </div>
                                                       <div class="Wu-two">
                                                           <input type="radio" class="Wu-in1"  name="is_follow" value="1" />
                                                           开启
                                                           <input type="radio" class="Wu-in1" checked="checked" name="is_follow" value="0" />
                                                           关闭
                                                       </div>
                                                       <p class="Wu-di">请先到个人中心开通强制关注功能&nbsp;&nbsp;<a style="text-decoration: underline;color: #23ccfe;">详细教程</a></p>
                                                   </div>
                                               </li>
                                            </ul>
                                            <div class="Wu-set3">
                                                <div class="Wu-B1">
                                                    <p class="Wu-tTP"><span style="color: red">*</span>投票时间：</p>
                                                    <input class="Wu-tTPin" name="vote_start_at" type="text" disabled="disabled" value="2018-06-28 15:33">
                                                    <p style="float: left">至</p>
                                                    <input class="Wu-tTPin" type="text" disabled="disabled" name="end_at" value="2018-06-28 15:33">
                                                </div>
                                                <ul class="Wu-two">
                                                   <li class="Wu-tTop">
                                                       <p class="Wu-tTP">投票形式：</p>
                                                       <div class="Wu-tTR1">
                                                           <input type="radio" class="Wu-in1" checked="checked" name="voting_form" value="1" />
                                                           每日均可投一票
                                                       </div>
                                                       <div class="Wu-tTR2">
                                                           <input type="radio" class="Wu-in2" name="voting_form" value="2" />
                                                           一次性投票
                                                       </div>
                                                   </li>
                                                   <li class="Wu-tCon">
                                                       <p>每人每日可为</p>
                                                       <input type="text" name="player_day_num" value="5"/>
                                                       <p>名选手投票</p>
                                                   </li>
                                                   <li class="Wu-tBot">每日只能为同一名选手投一票，每日可为 5 名选手投票</li>
                                                </ul>
                                                <div class="Wu-tTop">
                                                    <p class="Wu-tTP">投票需知：</p>
                                                    <div class="Wu-tTR1">
                                                        <input type="radio" class="Wu-in1" checked="checked" name="vote_description_show" value="1" />
                                                        默认
                                                    </div>
                                                    <div class="Wu-tTR2">
                                                        <input type="radio" class="Wu-in2" name="vote_description_show" value="0" />
                                                        自定义
                                                    </div>
                                                    <input type="text" name="vote_description" value="投票者每日最多可为5名选手各投1票">
                                                </div>
                                            </div>
                                            <div class="Wu-set4">
                                                 <div class="Wu-act">
                                                     <div class="Wu-top">
                                                         <p style="float: left;margin-top: 5px;font-size: 14px;color: #585858">企业信息</p>
                                                         <div class="fold-button" id="dakais" style="float: right;margin-top: -5px">
                                                             <span class="open" id="dakai">展开</span>
                                                             <span class="cclose" id="dakai1" style="display:none;">收起</span>
                                                         </div>
                                                     </div>
                                                     <div class="Wu-Bot" id="Wu-Bot">
                                                         <p class="Wu-tTP">企业Logo：</p>
                                                         <div class="Wu-tTR1">
                                                             <input type="radio" class="Wu-in1" checked="checked" name="company_logo_show" value="0" />
                                                             隐藏
                                                         </div>
                                                         <div class="Wu-tTR2">
                                                             <input type="radio" class="Wu-in2" name="company_logo_show" value="1" />
                                                             显示
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <div class="Wu-act">
                                                     <div class="Wu-top">
                                                         <p style="float: left;margin-top: 5px;font-size: 14px;color: #585858">分享设置</p>
                                                         <div class="fold-button" id="fold-button" style="float: right;margin-top: -5px">
                                                             <span class="open" id="open">展开</span>
                                                             <span class="cclose" id="close" style="display:none;">收起</span>
                                                         </div>
                                                     </div>
                                                     <div class="Wu-Bot" id="Wu-Bot1">
                                                         <p class="Wu-tTP">微信分享图标：</p>
                                                         <div class="Wu-tTR1">
                                                             <input type="radio" class="Wu-in1" checked="checked" name="ra"/>
                                                             默认
                                                         </div>
                                                         <div class="Wu-tTR2">
                                                             <input type="radio" class="Wu-in2" name="ra"/>
                                                             自定义
                                                         </div>
                                                         <div class="Wu-BOT1"></div>
                                                         <p class="Wu-tTP">微信分享内容：</p>
                                                         <div class="Wu-tTR1">
                                                             <input type="radio" class="Wu-in1" checked="checked" name="raa"/>
                                                             默认
                                                         </div>
                                                         <div class="Wu-tTR2">
                                                             <input type="radio" class="Wu-in2" name="raa"/>
                                                             自定义
                                                         </div>
                                                     </div>
                                                 </div>
                                     </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <input type="submit" value="保存">
    </div>

    </form>
</body>
</html>